// ----------------------------------------------------------------------------
// Flex-grid stuff
// ----------------------------------------------------------------------------
html,
body {
  height: 100%;
  margin: 0;
}

// FOUC Fix
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

@media screen and #{breakpoint(medium)} {
  .flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }

  .flex-item:nth-child(1) {
    height: 50px;
    flex-shrink: 0;
    //border: 2px solid blue;
  }

  .flex-item:nth-child(2) {
    display: block; /* 1 */
    flex-grow: 1;
    flex-shrink: 1; /* 2 */
    overflow: hidden;
  }

  .flex-item:nth-child(3) {
    height: 2.5rem;
    flex-shrink: 1;
  }

  #map {
    border: 1px solid $black;
    display: inline-block;
    align-items: stretch;
    padding: 0 0 0 0;
  }

  #data {
    overflow: hidden;
    border: 1px solid $black;
    display: flex;
    flex-direction: column;
  }
}

.inner-flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  margin: 0;

}

.inner-flex-item:nth-child(1) {
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
  //border: 2px solid blue;
}

.inner-flex-item:nth-child(2) {
  display: block; /* 1 */
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  min-height: 0;
}

.expanded.row {
  margin: 0 0 0 0;
}

.expanded.column {
  padding: 0;
}

#main-content {
  display: flex;
  align-items: stretch;
  border-width: 1px 0;
  border-style: solid;
  border-color: $black;
}

#map path {
  stroke: $primary-color;
  fill: $black;
  stroke-opacity: 1;
  fill-opacity: 0.6;
  stroke-width: 2px;
}

#address {
  p:first-of-type {
    font-size: 24pt;
  }
  p {
    font-family: $address-font;
    margin-bottom: 0;
    font-size: 14pt;
  }
}

.data-list {
  list-style: none;
}

.data-title {
  vertical-align: top;
  font-weight: 700;
}

.data-result {
  font-style: italic;
}

.small-margin {
  margin: 2px;
}

.material-icons.green {
  color: $success-color;
}

.material-icons.red {
  color: $alert-color;
}

.bar rect {
  fill: $black;
}

.bar rect.hi {
  fill: $success-color;
}

.bar text {
  font: 10px sans-serif;
}

.slim {
  margin: .2rem
}

.dropdown-pane.map-controls {
  .tabs {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: $light-gray;

  }
}

.alert-minor {
  font-style: italic;
  color: lighten($body-font-color, 50%)
}

#address-container {
  position: relative;
  .loader {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.table-index {
  font-weight: 700;
}

#sv-image {
  border: $black solid 1px;
  display: block;
  margin: auto;
}

path.line {
  stroke: $black;
  fill: none;
  stroke-width: 2px;
}

.dropdown-pane {
  .tabs-panel {
    padding: 0;
  }
  .tab-holder {
    width: 100%;
    display: inline-block;
    text-align: center !important;
  }
}

.search-result-list {
  max-height: 25vh;
  overflow: auto;
}

.prediction {
  list-style-type: none;
  position: absolute;
  margin-left: .5rem;

  background: white;
}

.prediction-result {
  cursor: pointer;
  &:hover {
    background-color: #0c4d78;
  }
}

.ui-autocomplete {
  max-height: 100px;
  z-index: 1000;

}

.search-result {
  border: 1px solid $black;
  p {
    margin-bottom: 0;
  }
}

.search-pin {
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}

.search-addr {
  font-size: 60%;
  text-align: center;
}

.indented {
  padding-left: 1.5rem;
}

.main-title {
  margin-left: .5rem;
  font-size: 1.2rem;
  font-family: $address-font;
  vertical-align: bottom;
  font-weight: 700;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

#slide-button {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 1000;
  height: 5%;
  width: 2rem;
  padding: 1px;
  i.on {
    color: $white;
  }
}

#map-settings {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
}

#map-settings-header {
  padding: 5px;
  font-family: $address-font;
}

.style-button {
  border-radius: 10px;

}

#info-container {
  overflow-x: auto;
}

.cartodb-legend {
  position: absolute;
  left: 10px;

}

#rangeSlider {
  margin-bottom: .7rem;
}

.simplecolorpicker.picker {
  z-index: 10500;

}

.simplecolorpicker.icon {
  height: 2rem;
  width: 3rem;
  vertical-align: middle;
  border-radius: $global-radius;
}

select {
  font-size: rem-calc(12pt);
}

.map-button-container {
  position: absolute;
  z-index: 10000;

  ul {
    list-style: none;
  }
}

.map-button {
  font-size: rem-calc(8pt);
  background: $white;
  border: 1px solid $dark-gray;
  color: $black;

  &:hover {
    background: darken($white, 7%);
    color: $black;
  }

}

.dropdown-pane {
  z-index: 10000;
  background: $white;
}

.slider-handle {
  border: .2px solid $dark-gray;
  background: #fefefe;
  &.is-dragging {
    background: $medium-gray;
  }
}


.shadowed {
  box-shadow: 1px 2px 4px #888888;
}

.basemap-preview {
  height: 100px;
  width: 100px;
  cursor: pointer;

}

#basemaps {
  .column-bottom {
    position: relative;
  }

}

.basemap-overlay {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  z-index: 1000000000;
  cursor: pointer;
  &.selected {
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    border-radius: $global-radius;
    border: 2px solid $black;
  }
  &:hover {
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    border-radius: $global-radius;
    border: 2px solid $black;
  }
}

.step {
  margin-bottom: .5rem;
}

select {

}