<form class="layer-menu">
    <label>Geography
        <select id="geo-select">
            <option value="">----------</option>
            <option value="parcel">Parcels</option>
            <option value="neighborhoods">Neighorhoods</option>
            <option value="municipalities">Municipalities</option>
        </select>
    </label>

    <label>Dataset
        <select id="styledata-select">
            <option value="">----------</option>
            <option value="assessment">Property Assessments</option>
            <option value="sales">Property Sales</option>
        </select>
    </label>

    <label>Field
        <select id="stylefield-select">
            <option value="">----------</option>
            <option value="">----------</option>
            <option value="">----------</option>
        </select>
    </label>

    <a  id="geo-submit" class="button">Submit!</a>
</form>