<div class="top-bar">

    <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <div class="top-bar-title">
            <img src="../assets/img/grayscale_logo_simple.png" style="max-height: 1.4rem;">
            <span class="main-title" style="vertical-align: bottom;">WPRDC | Property Dashboard (preview)</span>
        </div>
    </div>

    <div id="responsive-menu">
        <div class="top-bar-left">
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>

                </li>
                <li>
                    <button id="search-menu-button" type="button" class="small button no-close secondary hollow"
                            data-toggle="search-dropdown">
                        Search &#9660;
                    </button>
                </li>
            </ul>
        </div>

        <div class="dropdown-pane bottom right no-close" id="search-dropdown" data-dropdown data-auto-focus="true">
            {{>search}}
        </div>
    </div>
</div>
