<div class="inner-flex-container">
    <div id="address-container" class="inner-flex-item">
        <div id="address"></div>
        <hr class="slim">
    </div>
    <div id="info-container" class="inner-flex-item">

        <!-- Tabs -->
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#front-panel" aria-selected="true"><i
                    class="material-icons">home</i></a></li>
            <li class="tabs-title"><a href="#asmt-panel"><i class="material-icons">assignment</i></a></li>
            <li class="tabs-title"><a href="#sales-panel"><i class="material-icons">attach_money</i></a></li>
        </ul>


        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="front-panel">
                {{>basic-info}}
            </div>
            <div class="tabs-panel" id="asmt-panel">
                {{>assessment}}
            </div>
            <div class="tabs-panel" id="sales-panel">
                {{>sales}}
            </div>
        </div>


    </div>
</div>