<div class="inner-flex-container">
    <div id="address-container" class="inner-flex-item">
        <div id="address"></div>
        <hr class="slim">
        <!-- Tabs -->
        <ul class="tabs" data-tabs id="example-tabs">
            <li title='Home' class="tabs-title is-active"  id="home-tab">
                <a href="#front-panel" aria-selected="true"><i class="material-icons">home</i></a>
            </li>
            <li title="Assessment" class="tabs-title" id="assessment-tab">
                <a href="#asmt-panel"><i class="material-icons">assignment</i></a>
            </li>
            <li title="Sales" class="tabs-title" id="sales-tab">
                <a href="#sales-panel"><i class="material-icons">attach_money</i></a>
            </li>
            <li title="Code Violations" class="tabs-title" id="codeviolations-tab">
                <a href="#code-panel"><i class="material-icons">assignment_turned_in</i></a>
            </li>
            <li title="Geo Identifiers" class="tabs-title" id="geo-tab">
                <a href="#region-panel"><i class="material-icons">map</i></a>
            </li>
        </ul>
        <hr class="slim">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
    <div id="info-container" class="inner-flex-item">
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="front-panel">
                {{>basic-info}}
            </div>
            <div class="tabs-panel" id="asmt-panel">
                {{>assessment}}
            </div>
            <div class="tabs-panel" id="sales-panel">
                {{>sales}}
            </div>
            <div class="tabs-panel" id="code-panel">
                {{>code-violations}}
            </div>
            <div class="tabs-panel" id="region-panel">
                {{>regions}}
            </div>
        </div>
    </div>
</div>