<p>Range</p>
<div class="row">
    <div id="rangeSlider" class="slider" data-slider data-initial-start="50" data-end="200">
                                <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                                      aria-controls="rangeStart"></span>
        <span class="slider-fill" data-slider-fill></span>
        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
              aria-controls="rangeEnd"></span>
    </div>
</div>
<div class="row">
    <div class="medium-3 columns">
        <div>
            <input type="hidden" id="rangeStart" class="rangeInput">
            <p class="rangeDisplay text-left"></p>
        </div>
    </div>
    <div class="medium-6 columns">
        <div class="text-center">
            <button class="button secondary hollow">


                <select name="colorpicker">
                    <option value="#FF5349">Red Orange</option>
                    <option value="#B4674D">Brown</option>
                    <option value="#FF7538">Orange</option>
                    <option value="#FDD9B5">Apricot</option>
                    <option value="#FFB653">Yellow Orange</option>
                    <option value="#FDDB6D">Dandelion</option>
                    <option value="#FCE883">Yellow</option>
                    <option value="#F0E891">Green Yellow</option>
                    <option value="#C5E384">Yellow Green</option>
                    <option value="#1CAC78">Green</option>
                    <option value="#199EBD">Blue Green</option>
                    <option value="#1DACD6">Cerulean</option>
                    <option value="#1F75FE">Blue</option>
                    <option value="#5D76CB">Indigo</option>
                    <option value="#7366BD">Blue Violet</option>
                    <option value="#926EAE">Violet (Purple)</option>
                    <option value="#C0448F">Red Violet</option>
                    <option value="#F75394">Violet Red</option>
                    <option value="#FFAACC">Carnation Pink</option>
                    <option value="#EE204D">Red</option>
                    <option value="#FC2847">Scarlet</option>
                    <option value="#EDEDED">White</option>
                    <option value="#95918C">Gray</option>
                    <option value="#232323">Black</option>
                </select>
            </button>

        </div>
    </div>

    <div class="medium-3 columns">
        <div>
            <input type="hidden" id="rangeEnd" class="rangeInput">
            <p class="rangeDisplay text-right"></p>
        </div>
    </div>
</div>