<div class="style-maker">
    <div class="title">
        <h3 class="text-center">Map Styling</h3>
    </div>
    <form>
        <div class="row">
            <div class="medium-6 columns">
                <label>
                    Dataset
                    <select class="style-dataset-select style-data-select"></select>
                </label>
            </div>
            <div class="medium-6 columns">
                <label>
                    Field
                    <select class="style-field-select style-data-select"></select>
                </label>
            </div>
        </div>
    </form>


    <div class="row collapse">
        <div class="medium-3 columns">
            <ul class="vertical tabs " data-tabs id="style-tabs">
                <li class="tabs-title is-active" data-style-type="choropleth"><a href="#choroplethPanel">Choropleth</a></li>
                <li class="tabs-title" data-style-type="category"><a href="#categoryPanel">Category</a></li>
                <li class="tabs-title" data-style-type="range"><a href="#rangePanel">Range</a></li>
            </ul>
        </div>
        <div class="medium-9 columns">
            <div class="tabs-content" data-tabs-content="style-tabs">
                <div class="tabs-panel" id="rangePanel">
                    {{>range}}
                </div>
                <div class="tabs-panel" id="categoryPanel">
                    {{>category}}
                </div>
                <div class="tabs-panel" id="choroplethPanel">
                    {{>choropleth}}
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-3 medium-centered columns">
            <button type="button" class="expanded success button hollow" id="style-button">Style It!</button>
        </div>
    </div>

</div>
