<div class="style-maker">
    <div class="title">
        <h3 class="text-center">Parcel</h3>
    </div>
    <div class="row extended">
        <div class="small-6 column">
            <h5 class="text-center">Fill</h5>
            <form>
                <select id="fill-dataset" class="style-dataset">

                </select>

                <select style="display: none"  id="fill-field" class="style-field"></select>
                <ul class="viz-types">
                    <li class='choropleth-viz'></li>
                </ul>
            </form>
        </div>
        <div class="small-6 column">
            <h5 class="text-center">Stroke</h5>
            <form>
                <select id="stroke-dataset" class="style-dataset">>
                </select>

                <select style="display: none" id="stroke-field" class="style-field">

                </select>
            </form>
        </div>
    </div>
</div>