<div id="assessment">
    <h3 class="module-title">Assessment</h3>
    <table class="responsive val-table">
        <thead>
        <tr>
            <td></td>
            <th>County</th>
            <th>Local</th>
            <th>Fair Market</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-index">Building</td>
            <td id="building-val"></td>
            <td id="building-val-local"></td>
            <td id="building-val-fair"></td>
        </tr>
        <tr>
            <td class="table-index">Land</td>
            <td id="land-val"></td>
            <td id="land-val-local"></td>
            <td id="land-val-fair"></td>
        </tr>
        <tr>
            <td class="table-index">Total</td>
            <td id="total-val"></td>
            <td id="total-val-local"></td>
            <td id="total-val-fair"></td>
        </tr>
        </tbody>
    </table>

    <h4>Reductions</h4>
    <div class="row small-up-2 indented">
        <div class="column">
            <p class="small-margin"><span class="data-title">Homestead: </span><span class="data-result"
                                                                                     id="homestead"></span>
            </p>
            <p class="small-margin"><span class="data-title">Farmstead: </span><span class="data-result"
                                                                                     id="farmstead"></span>
            </p>
        </div>
        <div class="column">
            <p class="small-margin"><span class="data-title">Clean&Green: </span><span class="data-result"
                                                                                       id="cleangreen"></span>
            </p>
            <p class="small-margin"><span class="data-title">Abatement: </span><span class="data-result"
                                                                                     id="abatement"></span>
            </p>
        </div>
    </div>

    <h4>Assessment Comparison</h4>
    <svg id="asmt-chart" width="auto"></svg>
</div>